.forgot-password-container{
	height: 600px;
	width: 500px;
	background-color: bisque;
	display: flex;
	justify-content: center;
	align-items: center;
}
input{
	width: 85%;
	background-color: aliceblue;
	color: black;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
}
